.h1,
.h2,
.h3,
.h4,
.multicolumn-list h3,
body {
  line-height: 1.4em;
  letter-spacing: -0.025em;
}
.landing_quick-add_btn {
  margin-top:20px;
  padding: 10px 30px !important;
}
.header__menu-item {
  font-weight: bold;
  text-transform: uppercase;
}
.underline-links-hover:hover a,
.header__active-menu-item {
  color: #ce1662;
  text-shadow: 0px 0px 10px #ce1662;
  text-decoration: none!important;
}
.underline-links-hover:hover a {
  text-shadow: none!important;
}
.header-wrapper--border-bottom {
  border-bottom: none;
}
.product-grid.grid {
  justify-content: center;
}
.scrolled-past-header .header-wrapper--border-bottom {
  border-bottom: 0px solid #000!important;
}
.footer-block__details-content .list-menu__item--link {
  color: #5f5f5f;
}
.product-media-container {
  border: none;
  background-color: transparent;
}
product-info {
  background: url(https://cdn.shopify.com/s/files/1/0872/2595/8734/files/bg.png?v=1738075238)
    no-repeat top center !important;
  background-color: #ffffff !important;
}
.collapsible-content summary:hover .accordion__title {
  text-decoration: none!important;
}
@media only screen and (min-width: 750px) {
    h1, .h1 {
        font-size: calc(var(--font-heading-scale)* 2.5rem);
    }
}
.product__title h1,
.product__title .h1 {
  letter-spacing: -0.025em;
}

.product__description {
  background: white;
  z-index: 1;
  position:relative;
  height:auto;
  overflow: hidden;
}

.product__description:before, .product__description:after{
  -webkit-transiton: all 300ms ease;
  -moz-transiton: all 300ms ease;
  transiton: all 300ms ease;
}


.product__description.masked{
  height: 100px;
    -webkit-transiton: all 300ms ease;
  -moz-transiton: all 300ms ease;
  transiton: all 300ms ease;
}

.product__description.open{
  padding-bottom: 30px;
}

.product__description.masked:before {
  content: "Olvass tovább";
  position: absolute;
  bottom:10px;
  left:0;
  width:100%;
  z-index: 3;
  text-align: center;
}

.product__description.masked:after {
  content: "";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 2;
  background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: -moz-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
}

.product__description.open:before {
  content: "Bezár";
  position: absolute;
  bottom:10px;
  left:0;
  width:100%;
  z-index: 3;
  text-align: center;
}

.product__description.open:after {
  content: none;
}

.product__info-wrapper .product__info-container .product__description {
    margin: 0;
}

.product__info-wrapper .price--large {
    font-size: 31px;
    font-weight: bold;
    color: #871550;
    margin: 0px;
}

.product__info-wrapper .product__info-container>*+* {
  margin: 0px;
}




@media screen and (min-width: 749px) {
      .quick-add-modal__content {
        height: 64vh;
      border-radius:10px;
    }
  .quick-add-modal__content-info {
  padding:0!important;
  overflow:hidden;
}
    .product__description.open{
    padding-bottom: 0px;
  }
    .product__description.open:before,
    .product__description.masked:before,
    .product__description.masked:after {
      display:none;
    }
    
    .product__description.masked {
      height:inherit;
    }
    .quick-add-modal__content-info .product__description.masked {
        height: 100px;
      -webkit-transiton: all 300ms ease;
    -moz-transiton: all 300ms ease;
    transiton: all 300ms ease;
      
    }
    
    .quick-add-modal__content-info .product__description.masked:before {
    content: "Olvass tovább";
    position: absolute;
    bottom:10px;
    left:0;
    width:100%;
    z-index: 3;
    text-align: center;
  }
  
  .quick-add-modal__content-info .product__description.masked:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 2;
    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
    background: -moz-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
    background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
    background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  }
  
  .quick-add-modal__content-info .product__description.open:before {
    content: "Bezár";
    position: absolute;
    bottom:10px;
    left:0;
    width:100%;
    z-index: 3;
    text-align: center;
  }
  
  .quick-add-modal__content-info .product__description.open:after {
    content: none;
  }
}

@media screen and (max-width: 749px) {
    .shopify-section product-info {
      padding-top:0px!important;
    }
  
    .product--thumbnail_slider > .grid__item.product__media-wrapper .slider.slider--mobile .slider__slide {
        max-height: 30vh;
    }

    .product--thumbnail_slider > .grid__item.product__media-wrapper .slider.slider--mobile .slider__slide img {
      object-fit: contain;
    }
  
    product-info .thumbnail-list__item.slider__slide {
        width: calc(15% - .6rem);
    }
}
